* {
    /* toujours initialiser les margins et les paddings à 0: aucun margin, aucun padding*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*je refuse d'avoir du contenu qui dépasse les limites appliquées*/
}
body{
    background-image: linear-gradient(120deg, #24c61d, #ce7cbd);
    color: white;
    font-family: "Poppins",sans-serif;
    min-height: 100vh; /*100% de la taille de la fenetre*/
}
header{
    font-size: 1.5rem;
}
header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button{
    padding: 0.5rem;
   
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #04157b;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    color: greenyellow;
    background: white;
    
}

.todo_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoList 
{
    min-width: 30%;
    list-style: none;

}
.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li {
    flex: 1;
}
.trashButton, .completedButton{
background-color: #24c61d;
color: black;
border: none;
padding: 1rem;
cursor: pointer;
font-size: 1rem;
}
.completedButton{
    background: #ce7cbd;
}
.todoItem{
    padding: 0rem 0.5rem ;
}
.fa-trash,
.fa-check
{
pointer-events: none;/* pour supprimer le fait que l'évènement affecté a un boutton ne s'applique que sur des parties précise*/ 
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
}
select{
    /*supprimer les élements par défaut du select*/
    -webkit-appearance: none;
    -moz-appearance: none; /* pour mozilla*/
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select {
    color: #ce7cbd;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    font-weight: bolder;
}
.select::after{
content: "\25BC";
position: absolute;
background: #24c61d;
top: 0;
right: 0;
padding: 1rem;
pointer-events: none; /*pour éviter de pointer dessus*/
transition: all 0.3s ease;
}


.select:hover::after{
    background: white;
    color: #04157b;
}